<tr>
    <th scope="row">{{id}}</th>
    <td>{{descricao}}</td>
    <td>{{descricaoPeriodo}}</td>
    <td>{{ativo}}</td>
    <td class="text-center">
        <a href="{{url}}/cursos">
            <button class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i>&nbsp;Editar</button>
        </a>

    </td>
    <td class="text-center">
        <a href="{{url}}/cursos">
            <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>&nbsp;Excluir</button>
        </a>
    </td>
</tr>